.headerContainer {
  text-align: center;
  margin: 1.875rem auto;
}

#brandHeader {
  font-size: 1.875rem;
  display: inline-block;
}

#addSubscriptionBtn {
  margin-left: 1.25rem;
}

.subscriptionTableInput {
  display: block;
  width: 50%;
  margin: auto;
}

table {
  width: 80%;
  margin: auto;
}

.mat-column-select {
  overflow: initial;
}

.mat-checkbox {
  margin-left: 1.5625rem;
}

table.mat-table {
  margin-bottom: 6.25rem;
}
